In [1]:
import mysql.connector

def connect_to_db_aws():
    conn = mysql.connector.connect(host='devcarbonbuiltdb.cpg000so6063.us-east-1.rds.amazonaws.com',
                user='DevCarBonBuilt',
                password='zJ0ty4W7QyFFes9f6yR2',
                db='DevCarbonBuiltDB',
                port=3306)
    return conn

In [2]:
def connect_to_db_aws():
    conn = mysql.connector.connect(host='devcarbonbuilt.cre24agw00md.us-east-2.rds.amazonaws.com',
                user='DevCarbonBuiltDB',
                password='W9PkFnY8SUmOtIqTX40C',
                db='DevCarbonBuiltDB',
                port=3306)
    return conn

CREATE DATABASE DevCarbonBuiltDB
USE DevCarbonBuiltDB
drop table BlockPlant;
ALTER TABLE RawMaterial DROP COLUMN PSDTableandGraph;
execute through SQL My bench

In [3]:
conn = connect_to_db_aws()

In [4]:
cur  = conn.cursor()

In [5]:
def create_table_BlockProducer(tbl_name, cursor, db_connection):
    create_table_query = f"CREATE TABLE `{tbl_name}` (\
        `bProducerID` INT(11) NOT NULL AUTO_INCREMENT,\
        `bProducerName`VARCHAR(50) NULL DEFAULT NULL COLLATE 'utf8mb4_unicode_ci',\
        `NumberofBlockPlants` INT(11) NULL DEFAULT NULL,\
        `Notes` VARCHAR(50) NULL DEFAULT NULL COLLATE 'utf8mb4_unicode_ci',\
         PRIMARY KEY (`bProducerID`) USING BTREE\
        )\
        COLLATE='utf8mb4_unicode_ci'\
        ENGINE=InnoDB\
        ;"
    cursor.execute(create_table_query)
    db_connection.commit()

In [6]:
create_table_BlockProducer('BlockProducer', cur, conn);

In [7]:
def create_table_BlockPlant(tbl_name, cursor, db_connection):
    create_table_query = f"CREATE TABLE `{tbl_name}` (\
        `bPlantID` INT(11) NOT NULL AUTO_INCREMENT,\
        `bProducerID` INT(11) NULL DEFAULT NULL,\
        `bRegion` VARCHAR(50) NULL DEFAULT NULL COLLATE 'utf8mb4_unicode_ci',\
        `bAddress` VARCHAR(50) NULL DEFAULT NULL COLLATE 'utf8mb4_unicode_ci',\
        `CanUseRailroad` VARCHAR(50) NULL DEFAULT NULL COLLATE 'utf8mb4_unicode_ci',\
        `ProductOffer_ProductionVolume` VARCHAR(50) NULL DEFAULT NULL COLLATE 'utf8mb4_unicode_ci',\
        `Power_CO2_source` VARCHAR(50) NULL DEFAULT NULL COLLATE 'utf8mb4_unicode_ci',\
        `Jan_Month_Avg_Temp` FLOAT NULL DEFAULT NULL,\
        `Feb_Month_Avg_Temp` FLOAT NULL DEFAULT NULL,\
        `Mar_Month_Avg_Temp` FLOAT NULL DEFAULT NULL,\
        `April_Month_Avg_Temp` FLOAT NULL DEFAULT NULL,\
        `May_Month__Avg_Temp` FLOAT NULL DEFAULT NULL,\
        `June_Month_Avg_Temp` FLOAT NULL DEFAULT NULL,\
        `July_Month_Avg_Temp` FLOAT NULL DEFAULT NULL,\
        `August_Month_Avg_Temp` FLOAT NULL DEFAULT NULL,\
        `Sep_Month_Avg_Temp` FLOAT NULL DEFAULT NULL,\
        `Oct_Month_Avg_Temp` FLOAT NULL DEFAULT NULL,\
        `Nov_Month_Avg_Temp` FLOAT NULL DEFAULT NULL,\
        `Dec_Month_Avg_Temp` FLOAT NULL DEFAULT NULL,\
         FOREIGN KEY (`bProducerID`) REFERENCES `BlockProducer` (`bProducerID`) ON DELETE CASCADE, \
         PRIMARY KEY (`bPlantID`) USING BTREE\
        )\
        COLLATE='utf8mb4_unicode_ci'\
        ENGINE=InnoDB\
        ;"
    cursor.execute(create_table_query)
    db_connection.commit()

In [8]:
create_table_BlockPlant('BlockPlant', cur, conn);

In [9]:
def create_table_MaterialSupplier(tbl_name, cursor, db_connection):
    create_table_query = f"CREATE TABLE `{tbl_name}` (\
        `mattSupplierID` INT(11) NOT NULL AUTO_INCREMENT,\
        `MaterialSupplierName` VARCHAR(50) NULL DEFAULT NULL COLLATE 'utf8mb4_unicode_ci',\
         PRIMARY KEY (`mattSupplierID`) USING BTREE\
        )\
        COLLATE='utf8mb4_unicode_ci'\
        ENGINE=InnoDB\
        ;"
    cursor.execute(create_table_query)
    db_connection.commit()

In [10]:
create_table_MaterialSupplier('MaterialSupplier', cur, conn);

In [11]:
def create_table_RawMaterial(tbl_name, cursor, db_connection):
    create_table_query = f"CREATE TABLE `{tbl_name}` (\
        `rawMatID` INT(11) NOT NULL AUTO_INCREMENT,\
        `mattSupplierID` INT(11) NULL DEFAULT NULL,\
        `MaterialType` VARCHAR(50) NULL DEFAULT NULL COLLATE 'utf8mb4_unicode_ci',\
        `Address(Source)` VARCHAR(50) NULL DEFAULT NULL COLLATE 'utf8mb4_unicode_ci',\
        `Density` FLOAT NULL DEFAULT NULL,\
        `Sieve4` FLOAT NULL DEFAULT NULL,\
        `Sieve30` FLOAT NULL DEFAULT NULL,\
        `Sieve100` FLOAT NULL DEFAULT NULL,\
        `Sieve325` FLOAT NULL DEFAULT NULL,\
        `WaterAbsorption` FLOAT NULL DEFAULT NULL,\
        `Finenessmodulus` FLOAT NULL DEFAULT NULL,\
        `SiO2` FLOAT NULL DEFAULT NULL,\
        `Al2O3` FLOAT NULL DEFAULT NULL,\
        `Fe2O3` FLOAT NULL DEFAULT NULL,\
        `CaO` FLOAT NULL DEFAULT NULL,\
        `FreeLime` FLOAT NULL DEFAULT NULL,\
        `MgO` FLOAT NULL DEFAULT NULL,\
        `SO3` FLOAT NULL DEFAULT NULL,\
        `Na2O` FLOAT NULL DEFAULT NULL,\
        `K2O` FLOAT NULL DEFAULT NULL,\
        `CaCO3` FLOAT NULL DEFAULT NULL,\
        `Fluorine` FLOAT NULL DEFAULT NULL,\
        `Chloride` FLOAT NULL DEFAULT NULL,\
        `TotalAlkalis` FLOAT NULL DEFAULT NULL,\
        `AvailableAlkalis` FLOAT NULL DEFAULT NULL,\
        `LossonIgnition` FLOAT NULL DEFAULT NULL,\
        `Moisturecontent` FLOAT NULL DEFAULT NULL,\
        `Insolubleresidue` FLOAT NULL DEFAULT NULL,\
        `Freewater` FLOAT NULL DEFAULT NULL,\
        `ChemicalPlaceholder1` FLOAT NULL DEFAULT NULL,\
        `ChemicalPlaceholder2` FLOAT NULL DEFAULT NULL,\
        `ChemicalPlaceholder3` FLOAT NULL DEFAULT NULL,\
        `ChemicalPlaceholder4` FLOAT NULL DEFAULT NULL,\
        `Blainefineness` FLOAT NULL DEFAULT NULL,\
        `SAIat7` FLOAT NULL DEFAULT NULL,\
        `SAIat28` FLOAT NULL DEFAULT NULL,\
        `Limereactivity` FLOAT NULL DEFAULT NULL,\
        `Waterrequirement` FLOAT NULL DEFAULT NULL,\
        `Autoclaveexpansion` FLOAT NULL DEFAULT NULL,\
        `Aircontent` FLOAT NULL DEFAULT NULL,\
        `color` VARCHAR(50) NULL DEFAULT NULL COLLATE 'utf8mb4_unicode_ci',\
        `PhysicalPlaceholder1` FLOAT NULL DEFAULT NULL,\
        `PhysicalPlaceholder2` FLOAT NULL DEFAULT NULL,\
        `PhysicalPlaceholder3` FLOAT NULL DEFAULT NULL,\
        `PhysicalPlaceholder4` FLOAT NULL DEFAULT NULL,\
        `PSDTableandGraph` LONGBLOB NOT NULL,\
         FOREIGN KEY (`mattSupplierID`) REFERENCES `MaterialSupplier` (`mattSupplierID`) ON DELETE CASCADE, \
         PRIMARY KEY (`rawMatID`) USING BTREE\
        )\
        COLLATE='utf8mb4_unicode_ci'\
        ENGINE=InnoDB\
        ;"
    cursor.execute(create_table_query)
    db_connection.commit()

In [12]:
create_table_RawMaterial('RawMaterial', cur, conn);

In [13]:
def create_table_MaterailSample(tbl_name, cursor, db_connection):
    create_table_query = f"CREATE TABLE `{tbl_name}` (\
        `MatSampleID` INT(11) NOT NULL AUTO_INCREMENT,\
        `rawMatID` INT(11) NULL DEFAULT NULL,\
        `DeliveryDate` DATE ,\
        `AvailableCH` FLOAT NULL DEFAULT NULL,\
        `AvailableCaO` FLOAT NULL DEFAULT NULL,\
        `CO2uptake` FLOAT NULL DEFAULT NULL,\
        `Maximumtemperature` FLOAT NULL DEFAULT NULL,\
        `Areaunderthecurve` FLOAT NULL DEFAULT NULL,\
        `FTIRGraph` LONGBLOB NOT NULL,\
        `XRDGraph` LONGBLOB NOT NULL,\
        `XRFGraph` LONGBLOB NOT NULL,\
        `DataSheet` LONGBLOB NOT NULL,\
         FOREIGN KEY (`rawMatID`) REFERENCES `RawMaterial` (`rawMatID`) ON DELETE CASCADE, \
         PRIMARY KEY (`MatSampleID`) USING BTREE\
        )\
        COLLATE='utf8mb4_unicode_ci'\
        ENGINE=InnoDB\
        ;"
    cursor.execute(create_table_query)
    db_connection.commit()

In [14]:
create_table_MaterailSample('MaterialSample', cur, conn);

In [15]:
def create_table_ProcessingCondition(tbl_name, cursor, db_connection):
    create_table_query = f"CREATE TABLE `{tbl_name}` (\
        `PCID` INT(11) NOT NULL AUTO_INCREMENT,\
        `ProcessID` INT(11) NOT NULL,\
        `PreSettingDuration` FLOAT NULL DEFAULT NULL,\
        `RestDuration` FLOAT NULL DEFAULT NULL,\
        `StepType` VARCHAR(50) NULL DEFAULT NULL COLLATE 'utf8mb4_unicode_ci',\
        `FlowRate` FLOAT NULL DEFAULT NULL,\
        `CO2Concentration` FLOAT NULL DEFAULT NULL,\
        `Temperature` FLOAT NULL DEFAULT NULL,\
        `RelativeHumidity` FLOAT NULL DEFAULT NULL,\
        `StepDuration` FLOAT NULL DEFAULT NULL,\
         PRIMARY KEY (`PCID`,`ProcessID`) USING BTREE\
        )\
        COLLATE='utf8mb4_unicode_ci'\
        ENGINE=InnoDB\
        ;"
    cursor.execute(create_table_query)
    db_connection.commit()

In [16]:
create_table_ProcessingCondition('ProcessingConditions', cur, conn);

In [17]:
def create_table_MixDesign(tbl_name, cursor, db_connection):
    create_table_query = f"CREATE TABLE `{tbl_name}` (\
        `MDID` INT(11) NOT NULL AUTO_INCREMENT,\
        `MixDesignName` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci',\
        `rawMatID` INT(11) NOT NULL ,\
        `PCID` INT(11) NOT NULL ,\
        `ProcessID` INT(11) NOT NULL ,\
        `Percentage` FLOAT NULL DEFAULT NULL,\
        `MDNotes` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci',\
         FOREIGN KEY (`rawMatID`) REFERENCES `RawMaterial` (`rawMatID`) ON DELETE CASCADE, \
         FOREIGN KEY (`PCID`,`ProcessID`) REFERENCES `ProcessingConditions` (`PCID`,`ProcessID`) ON DELETE CASCADE, \
         PRIMARY KEY (`MDID`,`MixDesignName`) USING BTREE\
        )\
        COLLATE='utf8mb4_unicode_ci'\
        ENGINE=InnoDB\
        ;"
    cursor.execute(create_table_query)
    db_connection.commit()

In [18]:
create_table_MixDesign('MixDesign', cur, conn);

In [19]:
def create_table_ConcreteProduct(tbl_name, cursor, db_connection):
    create_table_query = f"CREATE TABLE `{tbl_name}` (\
        `CPID` INT(11) NOT NULL AUTO_INCREMENT,\
        `bPlantID` INT(11) NOT NULL,\
        `MDID` INT(11) NOT NULL,\
        `MixDesignName` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci',\
        `ProductType` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci',\
        `ProductDescription` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci' ,\
         FOREIGN KEY (`bPlantID`) REFERENCES `BlockPlant` (`bPlantID`) ON DELETE CASCADE, \
         FOREIGN KEY (`MDID`,`MixDesignName`) REFERENCES `MixDesign` (`MDID`,`MixDesignName`) ON DELETE CASCADE, \
         PRIMARY KEY (`CPID`) USING BTREE\
        )\
        COLLATE='utf8mb4_unicode_ci'\
        ENGINE=InnoDB\
        ;"
    cursor.execute(create_table_query)
    db_connection.commit()

In [20]:
create_table_ConcreteProduct('ConcreteProduct', cur, conn);

In [21]:
def create_table_Trail(tbl_name, cursor, db_connection):
    create_table_query = f"CREATE TABLE `{tbl_name}` (\
        `TrialID` INT(11) NOT NULL AUTO_INCREMENT,\
        `CPID` INT(11) NOT NULL,\
        \
        `MDID` INT(11) NOT NULL,\
        `MixDesignName` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci',\
        \
        `PCID` INT(11) NOT NULL ,\
        `ProcessID` INT(11) NOT NULL,\
        \
        `bPlantID` INT(11) NOT NULL,\
        `MatSampleID` INT(11) NOT NULL,\
        `TrialNotes` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci',\
        `TrialType` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci' ,\
        `TrailDate` DATE ,\
        `Abrasion` FLOAT NULL DEFAULT NULL,\
        `FireRating` FLOAT NULL DEFAULT NULL,\
        `Elasticity` FLOAT NULL DEFAULT NULL,\
        `WaterAbsorption` FLOAT NULL DEFAULT NULL,\
         FOREIGN KEY (`CPID`) REFERENCES `ConcreteProduct` (`CPID`) ON DELETE CASCADE, \
         FOREIGN KEY (`MDID`,`MixDesignName`) REFERENCES `MixDesign` (`MDID`,`MixDesignName`) ON DELETE CASCADE, \
         FOREIGN KEY (`PCID`,`ProcessID`) REFERENCES `ProcessingConditions` (`PCID`,`ProcessID`) ON DELETE CASCADE, \
         FOREIGN KEY (`bPlantID`) REFERENCES `BlockPlant` (`bPlantID`) ON DELETE CASCADE, \
         FOREIGN KEY (`MatSampleID`) REFERENCES `MaterialSample` (`MatSampleID`) ON DELETE CASCADE, \
         PRIMARY KEY (`TrialID`) USING BTREE\
        )\
        COLLATE='utf8mb4_unicode_ci'\
        ENGINE=InnoDB\
        ;"
    cursor.execute(create_table_query)
    db_connection.commit()

In [22]:
create_table_Trail('Trail', cur, conn);

In [23]:
def create_table_StrengthTestLab(tbl_name, cursor, db_connection):
    create_table_query = f"CREATE TABLE `{tbl_name}` (\
        `strengthTestLabID` INT(11) NOT NULL AUTO_INCREMENT,\
        `StrengthGroupID` INT(11) NOT NULL,\
        `TrialID` INT(11) NOT NULL,\
        `NotesQualitativeResults` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci',\
        `Strength(Average)PSI` FLOAT NULL DEFAULT NULL,\
        `Age(days)` FLOAT NULL DEFAULT NULL,\
        `StdDeviation` FLOAT NULL DEFAULT NULL,\
        `SampleType` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci',\
        `LOCforStrengthTest` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci',\
         FOREIGN KEY (`TrialID`) REFERENCES `Trail` (`TrialID`) ON DELETE CASCADE, \
         PRIMARY KEY (`strengthTestLabID`,`StrengthGroupID`) USING BTREE\
        )\
        COLLATE='utf8mb4_unicode_ci'\
        ENGINE=InnoDB\
        ;"
    cursor.execute(create_table_query)
    db_connection.commit()

In [24]:
create_table_StrengthTestLab('StrengthTestLab', cur, conn);

In [25]:
def create_table_TGA(tbl_name, cursor, db_connection):
    create_table_query = f"CREATE TABLE `{tbl_name}` (\
        `TGAID` INT(11) NOT NULL AUTO_INCREMENT,\
        `TrialID` INT(11) NOT NULL,\
        `strengthTestLabID` INT(11) NOT NULL,\
        `StrengthGroupID` INT(11) NOT NULL,\
        `CO2Uptake` FLOAT NULL DEFAULT NULL,\
        `Wn` FLOAT NULL DEFAULT NULL,\
        `CH` FLOAT NULL DEFAULT NULL,\
        `Ettrigite` FLOAT NULL DEFAULT NULL,\
         FOREIGN KEY (`TrialID`) REFERENCES `Trail` (`TrialID`) ON DELETE CASCADE, \
         FOREIGN KEY (`strengthTestLabID`,`StrengthGroupID`) REFERENCES `StrengthTestLab` (`strengthTestLabID`,`StrengthGroupID`) ON DELETE CASCADE, \
         PRIMARY KEY (`TGAID`) USING BTREE\
        )\
        COLLATE='utf8mb4_unicode_ci'\
        ENGINE=InnoDB\
        ;"
    cursor.execute(create_table_query)
    db_connection.commit()

In [26]:
create_table_TGA('TGA', cur, conn);

In [27]:
def create_table_freez_Thaw(tbl_name, cursor, db_connection):
    create_table_query = f"CREATE TABLE `{tbl_name}` (\
        `freezeThawID` INT(11) NOT NULL AUTO_INCREMENT,\
        `TrialID` INT(11) NOT NULL,\
        `freezeThawTimestamp` TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,\
        `DegredationPerecetage` FLOAT NULL DEFAULT NULL,\
        `Failure` FLOAT NULL DEFAULT NULL,\
         FOREIGN KEY (`TrialID`) REFERENCES `Trail` (`TrialID`) ON DELETE CASCADE, \
         PRIMARY KEY (`freezeThawID`) USING BTREE\
        )\
        COLLATE='utf8mb4_unicode_ci'\
        ENGINE=InnoDB\
        ;"
    cursor.execute(create_table_query)
    db_connection.commit()

In [28]:
create_table_freez_Thaw('freez_Thaw', cur, conn);

In [29]:
def create_table_Shrinkage(tbl_name, cursor, db_connection):
    create_table_query = f"CREATE TABLE `{tbl_name}` (\
        `ShrinkageID` INT(11) NOT NULL AUTO_INCREMENT,\
        `TrialID` INT(11) NOT NULL,\
        `ShrinkageTimestamp` TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,\
        `shrinkagePerecetage` FLOAT NULL DEFAULT NULL,\
         FOREIGN KEY (`TrialID`) REFERENCES `Trail` (`TrialID`) ON DELETE CASCADE, \
         PRIMARY KEY (`ShrinkageID`) USING BTREE\
        )\
        COLLATE='utf8mb4_unicode_ci'\
        ENGINE=InnoDB\
        ;"
    cursor.execute(create_table_query)
    db_connection.commit()

In [30]:
create_table_Shrinkage('Shrinkage', cur, conn);

In [31]:
def create_table_ChamberData(tbl_name, cursor, db_connection):
    create_table_query = f"CREATE TABLE `{tbl_name}` (\
        `ChamberDataID` INT(11) NOT NULL AUTO_INCREMENT,\
        `TagID` INT(11) NOT NULL,\
        `TrialID` INT(11) NOT NULL,\
        `TagValue` FLOAT NULL DEFAULT NULL,\
        `ChamberDataTimestamp` TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,\
         FOREIGN KEY (`TrialID`) REFERENCES `Trail` (`TrialID`) ON DELETE CASCADE, \
         PRIMARY KEY (`ChamberDataID`,`TagID`) USING BTREE\
        )\
        COLLATE='utf8mb4_unicode_ci'\
        ENGINE=InnoDB\
        ;"
    cursor.execute(create_table_query)
    db_connection.commit()

In [32]:
create_table_ChamberData('ChamberData', cur, conn)

In [33]:
def create_table_GPSData(tbl_name, cursor, db_connection):
    create_table_query = f"CREATE TABLE `{tbl_name}` (\
        `GPSID` INT(11) NOT NULL AUTO_INCREMENT,\
        `TagID` INT(11) NOT NULL,\
        `TrialID` INT(11) NOT NULL,\
        `TagValue` FLOAT NULL DEFAULT NULL,\
        `GPSDataTimestamp` TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,\
         FOREIGN KEY (`TrialID`) REFERENCES `Trail` (`TrialID`) ON DELETE CASCADE, \
         PRIMARY KEY (`GPSID`,`TagID`) USING BTREE\
        )\
        COLLATE='utf8mb4_unicode_ci'\
        ENGINE=InnoDB\
        ;"
    cursor.execute(create_table_query)
    db_connection.commit()

In [34]:
create_table_GPSData('GPSData', cur, conn)

In [35]:
def create_table_StrengthTestRetroCommercial(tbl_name, cursor, db_connection):
    create_table_query = f"CREATE TABLE `{tbl_name}` (\
        `strengthTestID` INT(11) NOT NULL AUTO_INCREMENT,\
        `TrialID` INT(11) NOT NULL,\
        `Age(days)` FLOAT NULL DEFAULT NULL,\
        `LocationVertical` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci',\
        `LocationHorizontal` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci',\
        `LocationDepth` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci',\
        `LocationChamber` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci',\
        `Placeholder` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci',\
        `PSI` FLOAT NULL DEFAULT NULL,\
        `BlockWeight` FLOAT NULL DEFAULT NULL,\
        `TestType` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci',\
        `LOCforStrengthTest` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci',\
        `Description` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci',\
         FOREIGN KEY (`TrialID`) REFERENCES `Trail` (`TrialID`) ON DELETE CASCADE, \
         PRIMARY KEY (`strengthTestID`) USING BTREE\
        )\
        COLLATE='utf8mb4_unicode_ci'\
        ENGINE=InnoDB\
        ;"
    cursor.execute(create_table_query)
    db_connection.commit()

In [36]:
create_table_StrengthTestRetroCommercial('StrengthTestRetroCommercial',cur, conn)

In [37]:
def create_table_MaterialEconomics(tbl_name, cursor, db_connection):
    create_table_query = f"CREATE TABLE `{tbl_name}` (\
        `MatEconId` INT(11) NOT NULL AUTO_INCREMENT,\
        `rawMatID` INT(11) NOT NULL,\
        `bPlantID` INT(11) NOT NULL,\
        `Distance` FLOAT NULL DEFAULT NULL,\
        `ModeofTransport` VARCHAR(50) NOT NULL COLLATE 'utf8mb4_unicode_ci',\
        `LandedCost` FLOAT NULL DEFAULT NULL,\
         FOREIGN KEY (`rawMatID`) REFERENCES `RawMaterial` (`rawMatID`) ON DELETE CASCADE, \
         FOREIGN KEY (`bPlantID`) REFERENCES `BlockPlant` (`bPlantID`) ON DELETE CASCADE, \
         PRIMARY KEY (`MatEconId`) USING BTREE\
        )\
        COLLATE='utf8mb4_unicode_ci'\
        ENGINE=InnoDB\
        ;"
    cursor.execute(create_table_query)
    db_connection.commit()

In [38]:
create_table_MaterialEconomics('MaterialEconomics',cur, conn)